@import 'module';
@import 'map';
@import 'controlPanel';

$header-height: 62px;
$light-gray: rgb(220, 224, 224);
$main-background-color: rgb(255, 255, 255);
$font-famliy-list: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;

*:focus {
	outline: none;
}

header {
	border-bottom: 1px solid $light-gray;
	position: fixed;
	width: 100%;

	@include clean-anchor;
	.item {
		border-left: 1px solid $light-gray;
		height: $header-height;
		line-height: $header-height + 2;
		position: relative;
		a {
			display: inline-block;
			&:hover {
				background-color: $main-background-color*0.9;
			}
		}
	}
	.company-icon {
		font-size: 2em;
		.header-btn .glyphicon{
			padding: 0 0.75em;
			&:before {
				position: relative;
				font-size: 1.1em;
				top: 0.2em;
				padding-right: 0.2em;
			}
		}
	}
}

main {
	position: absolute;
	top: $header-height + 2;
	bottom: 0;
	left: 0;
	right: 0;
	@include tgos;
	@include control-panel;
}

.sm-button a {
	padding: 0 1.75em;
}

.search-bar-wrapper {
	width: 10000px;
	display: table-cell;
	.search-bar {
		.glyphicon {
			font-size: 1.5em;
			top: 0.9em;
			left: 0.75em;
			position: absolute;
		}
		input {
			border: none;
			line-height: 1.5em;
			padding: 1.3em 0 1.3em 3.25em;
			width: 100%;
		}
	}
}

.filters {
	position: fixed;
    padding-bottom: 70px;
    z-index: 11;
    top: $header-height + 4;
    left: 0;
    right: 40%;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.collapse {
    	position: static;
	    overflow: initial;
	    padding-bottom: 0;
	    border-bottom: 1px solid #dce0e0;
    }

    .filter-section {
    	padding: 15px;
    	display: block;
    	font-size: 1.2em;
    	border-bottom: 1px solid $light-gray;
    	.filter-header {
    		color: rgb(220, 224, 224) * 0.5;
    		font-famliy: $font-famliy-list;
    	}
    }

    .filter-date {
    	input {
    		padding: 20px;
    		width: 95%;
    	}
    }
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}